[Unit]
Description=batterystatusscreensaver

[Service]
ExecStart=/opt/rs2-batterystatusscreensaver/rs2-batterystatusscreensaver.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target